/* Utily Classes */
.p-80 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.box {
  width: 100%;
  float: none;
}

/* Header */
#header-top {
  height: 100%;
}

/* Navbar */
#navbar {
  text-align: center;
}

#navbar .logo {
  float: none;
}

#navbar ul {
  float: none;
  display: block;
}

#navbar ul li {
  float: none;
  padding:10px;
}

#navbar ul li:nth-child(4) {
  display: none;
}

/* Showcase */
#showcase {
  padding: 40px;
}

/* Contact */
#contact input,
#contact textarea
 {
   width: 100%;
 }

 /* Footer */
 #mainfooter {
   text-align: center;
 }